body {
  font-family: Arial, Helvetica, sans-serif;
}

.weather-app {
  max-width: 600px;
  margin: 30 auto;
  padding: 20px;
  border: 1px solid #3282b8;
  border-radius: 5px;
  margin-top: 30px;
  background: #0f4c75;
}

.weather-overview {
  margin-bottom: 20px;
}

h1 {
  color: #9cd9de;
  text-decoration: underline;
  display: block;
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 3;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #9cd9de;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-temperature i {
  margin-right: 10px;
  margin-top: 10px;
  font-size: 64px;
}

.weather-temperature strong {
  color: #9cd9de;
  font-size: 64px;
  font-weight: 400;
  line-height: 2;
}

.units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.active {
  color: #9cd9de;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color:#9cd9de
}

.weather-forecast-temp {
  font-size: 13px;
  color:#9cd9de
}

.weather-forecast-min {
  opacity: 0.5;
}