:root {
  --primary-color:#523e88;
  --secondary-color:#5a67a6;
}

body {
  font-family: 'Maven Pro', sans-serif;
  background: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
}

.weather-app {
  max-width: 650px;
  margin: 30 auto;
  padding: 20px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  margin-top: 30px;
  background: url(https://preview.redd.it/vdupj9gwxlh01.jpg?width=640&crop=smart&auto=webp&s=f2456d016bf1fc335d4048c21cf2e637747e0686);
}



.weather-overview {
  margin-bottom: 20px;
}

.form-control {
  margin-bottom: 10px;
}

.search-link {
  display: flex;
  justify-content: center;
}

h1 {
  color: var(--primary-color);
  text-decoration: underline;
  display: block;
  font-size: 30px;
  font-weight: bolder;
  line-height: 28px;
  margin-bottom: 10px;
}

row {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  margin: 0;
  padding: 10px 0 0 0;
  align-items: center;
}

li {
  list-style: none;
  color: var(--primary-color);
  text-transform: capitalize;
  font-size: 16px;
  font-weight: bolder;
  line-height: 20px;
  align-items: center;
  display: block;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

#search-form {
  display: block;
  max-width: auto;
  min-width: 300px;
  margin: 0!important;
}



.btn {
  border-color: var(--secondary-color);
  color: white!important;
  background: var(--primary-color)!important;
  width:100px;
  padding: 5px 10px!important;
  margin-bottom: 10px;
  }

.btn:hover {
  background: white!important;
  color:var(--secondary-color)!important;
  opacity: 50%;
}

.weather-temperature {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-temperature i {
  margin-right: 10px;
  margin-top: 10px;
  font-size: 64px;
}

.weather-temperature strong {
  color: var(--primary-color);
  font-size: 64px;
  font-weight: 400;
  line-height: 2;
}

.units {
  position: relative;
  font-size: 20px;
  top: -20px;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}


.weather-forecast {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  text-align: center;
  align-items: center;
}

.weather-forecast-date {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 15px;
  color:var(--secondary-color);
}

.weather-forecast-temp {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 13px;
  color:var(--secondary-color);
}

.weather-forecast-min {
  display: flex;
  justify-content: space-evenly;
  opacity: 0.5;
}

#icon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

small {
  color: white;
}

small a {
  color:var(--secondary-color);
}

small a:hover {
  color:white;
  text-decoration: none;
}